<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
<head>
    <!-- header styling -->
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
</head>
<%- include('partials/_header') %>
<!-- /:login

  Does not show "sign in/out" on header partial

  POST Input fields for name/password
  returns an error message if invalid entry,
  else redirects to /home, showing "signed in as [name]" and a sign out button, posting to /logout

-->
<main style="margin: 1em;">

    <h1> All Your Chat Conversation for <%= data[0]['name'] %> </h1>

  <div>
    <% for(let item in data) { %>
      <% if (data[item]['from_id'] === user_id) { %>
        <h3> You : <%= data[item]['message'] %> </h3>
      <% } else { %>
        <h3> <%= data[item]['from_name'] %> : <%= data[item]['message'] %> </h3>
      <% }%>
    <% } %>
  </div>

  <form class="form-inline" action="/chats/<%=chat_id%>" method="POST">
    <div class="form-group mb-2">
      <input type="text" class="form-control" name="message" placeholder="Please write a message"
        style="width: 500px; height: 100px; margin: 1em"><br><br>
      <button type="submit" class="btn btn-primary">Reply</button>

    </div>
  </form>


</main>


</html>
