<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">

<%- include('partials/_header') %>
<!-- /:login

  Does not show "sign in/out" on header partial

  POST Input fields for name/password
  returns an error message if invalid entry,
  else redirects to /home, showing "signed in as [name]" and a sign out button, posting to /logout

-->
<main style="margin: 1em;">

  <h3> All Your Chat Conversation with Other User </h3>
  <div>
    <% for(let item in data) { %>

      <h3>FROM USER <%= data[item]['from_id'] %> TO USER <%= data[item]['to_id'] %> MESSAGE: <%= data[item]['message'] %> ON <%= data[item]['time'] %>  </h3>
      <h2>  </h2>

    <% } %>
  </div>

  <form class="form-inline" action="/chats/<%=chat_id%>" method="POST">
    <div class="form-group mb-2">
      <input type="text" class="form-control" name="message" placeholder="Please write a message"
        style="width: 500px; height: 100px; margin: 1em"><br><br>
      <button type="submit" class="btn btn-primary">Reply</button>

    </div>
  </form>


</main>


</html>
