<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">

<%- include('partials/_header') %>
<!-- /:login

  Does not show "sign in/out" on header partial

  POST Input fields for name/password
  returns an error message if invalid entry,
  else redirects to /home, showing "signed in as [name]" and a sign out button, posting to /logout

-->
<main style="margin: 1em;">
  <h3>All Your Chat Conversation with user <%- data[0].to_id %></h3>
  <div>
    <% for(let chat in data) { %>
      <% if(data[chat].to_id !== loginUser) {%>
        <h5><i><%- data[chat].message %></i></h5>
      <% } else { %>
        <h3><strong><%- data[chat].message %></strong></h3>
      <% } %>
    <% } %>
  </div>


  <form class="form-inline" action="/chats" method="POST">
    <div class="form-group mb-2">
      <input type="text" class="form-control" name="message" placeholder="Please write a message"
        style="width: 500px; height: 100px; margin: 1em"><br><br>
      <button type="submit" class="btn btn-primary">Message</button>

    </div>
  </form>
  </body>

</main>

  <%- include('partials/_footer') %>

</html>
