<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">


<head>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- header styling -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <!-- App CSS -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <!-- <script type="text/javascript" src="/scripts/filter-items.js"></script> -->
  <!-- Font awesome import -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    referrerpolicy="no-referrer" />

</head>



<header>
  <%- include('partials/_header') %>
</header>


<% if (user) { %>
  <h1><b>
      <%= user %>'s Favourited Shoes:
    </b></h1>
  <main>
    <% for(product of products) { %>
      <table class='items'>
        <tr>
          <td class='item1'>
            <img src='<%= product.thumbnail_photo_url%>' alt='shoe image'>

            <div class='name-and-button'>
              <h2><b>Name: <a href="/products/<%= product.product_id %>">
                    <%= product.name%>
                  </a></b></h2>
              <button id='<%= product.product_id %>' type="submit" action="" method="POST">
                <i class="fas fa-heart fa-3x favourite"></i>
              </button>
            </div>
            <div class='name-and-button'>
              <h2><b>Seller: <a href="/seller/<%= product.seller_id%>">
                    <%= product.seller_name%>
                  </a></b></h2>
                <a href="/message/<%= product.product_id%>">
                <button type="submit" action="" method="POST">
                  <i class="fas fa-comment fa-2x"></i>
                </button> </a>
            </div>
            <h2><b>Price: $<%= product.price%></b></h2>
            <h2><b>Brand: <%= product.brand%>
                </a></b></h2>
            <h2><b>Description: <%= product.info%></b></h2>
            <% if (product['stock']===false) { %>
              <h3>SOLD</h3>
              <% } %>

          </td>
        </tr>
        <% } %>
          <% } %>
      </table>
  </main>

</html>
