<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- header styling -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
</head>
<%- include('partials/_header') %>

  <!-- /:itemid page

  shows item attributes
  button "send [Seller] a message" that redirects to /new

-->
  <h1><b>
      <%= product.name %>
    </b></h1>
  <table class='items'>
    <tr>
      <td class='item1'>
        <img src='<%= product.thumbnail_photo_url%>' alt='shoe image'>
        <h2><b>Name: <%= product.name %></b></h2>
        <h2><b>Category: <%= product.category_name %></b></h2>
        <h2><b>Brand: <%= product.brand %></b></h2>
        <h2><b>Size: <%= product.size %></b></h2>
        <h2><b>Color: <%= product.color %></b></h2>
        <h2><b>Seller: <a href="/seller/<%= product.seller_id%>">
              <%= product.seller_name %>
            </a></b></h2>
        <h2><b>Price: $<%= product.price %></b></h2>
        <h2><b>Description: <%= product.info %></b></h2>
        <% if (product['stock'] === false) { %>
          <h2>Availability: SOLD OUT</h2>
        <% } else { %>
          <h2>Availability: In Stock</h2>
        <% } %>
      </td>
    </tr>
  </table>


</html>
