<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->


  <style>
    main {
      height: 100%;
      padding: 0 5%;
      flex-direction: row;
      background-color: #f4f1ec;
      border-bottom: 3px #545149;
      justify-content: space-evenly;
    }

    .container {
      width: 100;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .row {
      display: flex;
      flex-direction: column;
      margin-right: -15px;
      margin-left: -15px;
    }

    .filter_column {
      float: left;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: 0;
      width: 100%;
    }

    .item1 {
      display: flex;
      padding: 20px;
      flex-direction: column;
      margin: 30px;
      max-width:500px;
      background-color: rgb(232, 232, 245);
      background-color: rgb(232, 232, 245);
      transition: 0.5s;
    }
    .item1:hover {
      box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.4);
    }
  </style>

</head>

<body>

  <header>
    <%- include('partials/_header') %>
  </header>


  <main>
    <div class="container">
      <div class="row">

        <div class="filter_column">
          <h4>Filter By</h4>
          <div class="filter-by">
            <ul>
              <li>Price</li>
              <!-- implement functionality -->
              <li>Colour</li>
              <!-- implement functionality -->
              <li>Brand</li>
              <!-- implement functionality -->
            </ul>
          </div>
        </div>

        <h1><b>Category: <%= categoryName %></b></h1>
        <table class='items'>

          <% for(product of products) { %>

            <tr>

              <td class='item1'>
                <img src='<%= product.thumbnail_photo_url%>' alt='shoe image'>
                <h2><b>Name: <%= product.name%></b></h2>
                <h2><b>Seller:  <a href="/seller/<%= product.seller_id%>"><%= product.seller_name%></a></b></h2>
                <h2><b>Price: $<%= product.price%></b></h2>
                <h2><b>Description: <%= product.info%></b></h2>
              </td>


            </tr>
          <% } %>

        </table>


      </div>
    </div>
  </main>
</body>

<!-- /:categoryid page

  route names are either /running, /casual, or /basketball

  drop down menu of "filter by" on the right hand side-
    by price (can select a range), color (options are colors of existing shoes), brand

  shows all items listed under that category, general selection of item redirects to /:itemid

  hover over item zooms on item, allows for selection of
    seller name, redirects to /:sellerid
    like icon, adds to liked items
    message button, redirects to /:sellerid/send-message


  if logged in as a "seller", hover option for deleting a post that belongs to you

-->



<%- include('partials/_footer') %>
