<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<!-- /:sellerid page
  shows all items being sold by [seller], same layout and functionality as show_categories
-->

<head>
  <!-- App JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/filter-items.js"></script>

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <!-- Font awesome import -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    referrerpolicy="no-referrer" />

</head>


<header>
  <%- include('partials/_header') %>
</header>

<body>
  <h1><b>
      <%= locals.seller_name %>'s Shoes For Sale:
    </b></h1>
  <main>
    <div class="filter-by">
      <h2>Filter By Price</h2>
      <form id='price-filter' action='/seller/<%= locals.seller_id %>/price' method="POST">

        <input type="range" min="1" max="300" value="150" class="slider" id="myRange" name="price">
        <div id="price-and-val">
          <h2>Show items less than: $<span id="demo"></span></h2>
          <input id='price-button' type="submit" value="Filter">
        </div>
      </form>
    </div>

    <section>
      <% for(product of products) { %>
        <div class='card'>

          <div class="product-img">
            <img src='<%= product.thumbnail_photo_url%>' alt='shoe image'>
          </div>

          <div class='product-specs'>
            <div class=' name-and-button'>
              <h3><b>Name: <a href="/products/<%= product.id %>">
                    <%= product.name%>
                  </a></b></h3>
              <button type="submit" action="" method="POST">
                <i class="fas fa-heart fa-2x"></i>
              </button>
            </div>

            <h3><b>Price: $<%= product.price%></b></h3>
            <h3><b>Brand: <a href="/categories/<%= product.cat_name%>">
                  <%= product.cat_name%>
                </a></b></h2>
              <h3><b>Description: <%= product.info%></b></h3>
          </div>
          <div class="delete-or-sell">
            <% if (product['stock']===false) { %>
              <h3>Item has been SOLD</h3>
              <% } else {%>
                <form id="soldItem" action="/products/<%= product.id %>/sold" method='POST'>
                  <button class="button-ds" type="submit">Mark as Sold</button>
                </form>
                <% } %>
                  <% if (seller_id===admin_id) { %>
                    <form id="deleteItem" action="/products/<%= product.id %>/delete" method='POST'>
                      <button class="button-ds" type="submit">Delete Item</button>
                    </form>
          </div>

          <% } %>
        </div>
        <% } %>
    </section>
  </main>
</body>

</html>
