<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- App CSS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/filter-items.js"></script>
  <!-- App JS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- header styling -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <!-- Font awesome import -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    referrerpolicy="no-referrer" />

</head>

<header>
  <%- include('partials/_header') %>
</header>

<body>
  <h1><b>Category: <%= categoryName %></b></h1>

  <main>
    <h4>Filter By</h4>
    <div class="filter-by">
      <li>Price</li>
      <form id='price-filter' action='/categories/<%= categoryName %>/price' method="POST">
        <div class="slidecontainer">
          <input type="range" min="1" max="300" value="150" class="slider" id="myRange" name="price">
          <div id="price-and-val">
            <p>Show items less than: $<span id="demo"></span></p>
            <input id='price-button' type="submit" value="Filter">
          </div>
        </div>
      </form>
    </div>


    <table class='items'>

      <% for(product of products) { %>

        <tr>

          <td class='item1' data-href='/products/<%= product.id %>'>
            <img src='<%= product.thumbnail_photo_url%>' alt='shoe image'>

            <div class='name-and-button'>
              <h2><b>Name: <a href="/products/<%= product.id %>">
                    <%= product.name%>
                  </a></b></h2>
              <button id='<%= product.id %>' type="submit" action="" method="POST">
                <i class="fas fa-heart fa-3x"></i>
              </button>
            </div>

            <div class='name-and-button'>
              <h2><b>Seller: <a href="/seller/<%= product.seller_id%>">
                    <%= product.seller_name%>
                  </a></b></h2>
              <button type="submit" action="" method="POST">
                <i class="fas fa-comment fa-3x"></i>
              </button>
            </div>

            <h2><b>Price: $<%= product.price%></b></h2>
            <h2><b>Description: <%= product.info%></b></h2>
            <% if (product['stock']===false) { %>
              <h2>SOLD</h2>
              <% } %>
                <h2><b><a href="/message/<%= product.id%>"> Contact Seller: </a></b></h2>
          </td>

        </tr>
        <% } %>

    </table>
  </main>
</body>

<!-- /:categoryid page

  route names are either /running, /casual, or /basketball

  drop down menu of "filter by" on the right hand side-
    by price (can select a range), color (options are colors of existing shoes), brand

  shows all items listed under that category, general selection of item redirects to /:itemid

  hover over item zooms on item, allows for selection of
    seller name, redirects to /:sellerid
    like icon, adds to liked items
    message button, redirects to /:sellerid/send-message


  if logged in as a "seller", hover option for deleting a post that belongs to you

-->
