<!DOCTYPE html>
<html lang="en">



<!-- /:sellerid page

  shows all items being sold by [seller], same layout and functionality as show_categories

-->


<head>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- App CSS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="/scripts/filter-items.js"></script>
  <!-- Font awesome import -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    referrerpolicy="no-referrer" />
  <!-- header styling -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

</head>



<header>
  <%- include('partials/_header') %>
</header>

<h4>Filter By</h4>
<ul>
  <!-- filter by price. Will show anything beneath the input -->
  <li>Price</li>
  <form id='price-filter' action='/seller/<%= seller_id %>/price' method="POST">
    <div class="slidecontainer">
      <input type="range" min="1" max="300" value="150" class="slider" id="myRange" name="price">

      <div id="price-and-val">
        <p>Show items less than: $<span id="demo"></span></p>
        <input id='price-button' type="submit" value="Filter">
      </div>

    </div>
  </form>
</ul>

<div class="container">
  <div class="row">
    <!-- <li>Colour</li> -->
    <!-- implement functionality -->
    <!-- <li>Brand</li> -->
    <!-- implement functionality -->
    </ul>

    <h1><b>

      </b></h1>
    <% for(product of products) { %>
      <main>
        <table class='items'>
          <tr>
            <td class='item1'>
              <img src='<%= product.thumbnail_photo_url%>' alt='shoe image'>

              <div class='name-and-button'>
                <h2><b>Name: <a href="/products/<%= product.id %>">
                      <%= product.name%>
                    </a></b></h2>
                <button type="submit" action="" method="POST">
                  <i class="fas fa-heart fa-3x"></i>
                </button>
              </div>

              <h2><b>Price: $<%= product.price%></b></h2>
              <h2><b>Brand: <a href="/categories/<%= product.cat_name%>">
                    <%= product.cat_name%>
                  </a></b></h2>
              <h2><b>Description: <%= product.info%></b></h2>
              <% if (product['stock'] === false) { %>
                <h3>SOLD</h3>
              <% } %>
            </td>
            <% if (seller_id) { %>
              <td>
                <form id="deleteItem" action="/products/<%= product.id %>/delete" method='POST'>
                  <button type="submit">X</button>
                </form>
              </td>
              <td>
                <form id="soldItem" action="/products/<%= product.id %>/sold" method='POST'>
                  <button type="submit">Sold</button>
                </form>
              </td>
              <% } %>
          </tr>
          <% } %>
        </table>
      </main>

</html>
